---
new_page_extension: md
auto_deploy: false
admin_path: static/admin
webhook_url: https://api.stackbit.com/project/5eb2bcd0090320001bd41cab/webhook/forestry
sections:
- type: document
  path: site-metadata.json
  label: Config
  templates:
  - config
- type: document
  path: src/data/footer.yml
  label: Footer Configuration
  templates:
  - footer
- type: document
  path: src/pages/index.md
  label: Home
  templates:
  - home
- type: directory
  path: src/pages
  label: Pages
  create: all
  match: "**/*"
  exclude: "{index.md,elements.md}"
  templates:
  - page
- type: document
  path: src/pages/elements.md
  label: Elements
  templates:
  - elements
- type: document
  path: src/data/menus.json
  label: Site Menus
  templates:
  - site_menus
upload_dir: static/images
public_path: "/images"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - STACKBIT_API_KEY=714fef9f0e6370dfe368c60d9c6d432b90dd16420408d46d4a7699498764cb6e
  preview_output_directory: public
  install_dependencies_command: npm install
  preview_docker_image: node:10
  mount_path: "/srv"
  instant_preview_command: npm run develop
